.button{
  color: white;
  background-color: green;
  border-style: none;
  border-radius: 5px;
  margin: 10px;
}

.bg-green{
  background-color: green;
}

.bg-cyan{
  background-color: darkblue;
}

.bg-crimson{
  background-color: crimson;
}

.bg-orange{
  background-color: orange;
}

.button:hover{
  opacity: 0.8;
}


.button-xs{
  width: 60px;
  height: 10px;
}

.button-sm{
  width: 80px;
  height: 20px;
}

.button-md{
  width: 120px;
  height: 40px;
}


.button-lg{
  width: 180px;
  height: 80px;
}

.button-xl{
  width: 210px;
  height: 100px;
}
