.cross{
  background-color: gray;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cross:hover{
  background-color: darkslategray;
}

.line{
  background-color: black;
  width: 3px;
  height: 20px;
  position:absolute;
  border-radius: 2px;
}

.forward{
  transform: rotate(45deg);
}

.backward{
  transform: rotate(315deg);
}
