<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./Style/reset.css">
  </head>
  <body>
<div id="container"></div>
  </body>
</html>
