.modal{
  color:black;
  height: 400px;
  z-index: 2;
  position:absolute;
  background-color: gray;
  border-radius: 10px;
}

.modal-title{
  position: absolute;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.cross{
  position: absolute;
  right: 0;
}

.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-curtain-neutral{
  visibility: collapse;
}

.modal-curtain{
  width: 600px;
  visibility: visible;
  animation-name: curtain;
  animation-duration: 0.8s;
}

.modal-curtain-close{
  width: 0;
  visibility: hidden;
  animation-name: curtainclose;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
}

@keyframes curtain {
  from {
    width: 0;
    visibility:hidden;
  }
  to {
    width: 600px;
    visibility: visible;
  }
}

@keyframes curtainclose {
  from {
    width: 600px;
    visibility: visible;
  }
  to {
    width: 0;
    visibility: hidden;
  }
}
