html, body, #container{
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    margin: 0!important;
    padding: 0!important;
    background-color: #282C34;
    color: white;
}
