.new-exercise-modal{
  height: 400px;
  position: absolute;
  background-color: gray;
  border-radius: 10px;
  z-index: 10;
}

.modal-entry{
  visibility: visible;
}

.modal-entry-hidden{
  visibility: collapse;
}

.new-exercise-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.new-exercise-modal-title{
  position: absolute;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.new-entry-selector{
  margin: 10px;
}

.close-button-align-right{
  position: absolute;
  right: 0;
}

.modal-hidden{
  visibility: hidden;
}

.modal-curtain{
  width: 600px;
  visibility: visible;
  animation-name: curtain;
  animation-duration: 0.8s;
}

.modal-curtain-close{
  width: 0;
  visibility: hidden;
  animation-name: curtainclose;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
}

.new-exercise-modal-action{
  position:absolute;
  right: 0;
  bottom: 0;
}

@keyframes curtain {
  from {
    width: 0;
    visibility:hidden;
  }
  to {
    width: 600px;
    visibility: visible;
  }
}

@keyframes curtainclose {
  from {
    width: 600px;
    visibility: visible;
  }
  to {
    width: 0;
    visibility: hidden;
  }
}
