.top-bar{
  background-color: cyan;
  color:black;
  min-width: 100%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;
  font-family: 'Consolas';
  align-items: center;
}
