.main-menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-width: 800px;
  min-height: 600px;
  border-radius: 10px;
}


.main-menu-button-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
